.posName {
  position: absolute;
  padding-top: 150px;
  z-index: 5;
}


.ml {
  margin-left: 600px;
  font-size: 11px;
  color: #800080;
}


.sizeName {
  width: 260px;
  height: 26px;
  border-radius: 6px;
  margin-left: 600px;
}


.mlError {
  margin-left: 600px;
  color: red;
}


.posCard {
  position: absolute;
  padding-top: 230px;
  z-index: 4;
}


.mlCard {
  margin-left: 600px;
  font-size: 11px;
  color: #800080;
}


.sizeCard {
  width: 260px;
  height: 26px;
  border-radius: 6px;
  margin-left: 600px;
}


.mlCardError {
  margin-left: 600px;
  color: red;
}



.posDate {
  position: absolute;
  padding-top: 320px;
  z-index: 3;
}


.mlDate {
  margin-left: 600px;
  font-size: 11px;
  color: #800080;
  
}


.sizeDate {
  width: 55px;
  height: 26px;
  border-radius: 6px;
  margin-left: 600px;
}



.mlDateError {
  margin-left: 600px;
  color: red;
}


.posYear {
  position: absolute;
  padding-top: 320px;
  z-index: 2;
}


.mlYear {
  margin-left: 655px;
  font-size: 11px;
  color: #800080;
}


.sizeYear {
  width: 55px;
  height: 26px;
  border-radius: 6px;
  margin-left: 675px;
}


.mlYearError {
   margin-left: 675px;
   color: red;
}



.posCvc {
  position: absolute;
  padding-top: 320px;
  z-index: 1;
}


.mlCvc {
  margin-left: 760px;
  font-size: 11px;
  color: #800080;
}


.sizeCvc {
  width: 100px;
  height: 26px;
  border-radius: 6px;
  margin-left: 760px;
}


.mlCvcError {
  margin-left: 760px;
  color: red;
}



.btn {
  margin-left: 600px;
  margin-top: 460px;
  width: 270px;
  padding: 10px 0;
  border-radius: 6px;
  border: 0;
  background-color: #4B0082;
  color: white;
  cursor: pointer
}


.error {
  border: 1px solid red;
}